
.icon-chart-bar:before { content: '\e800'; } /* '' */
.icon-glasses:before { content: '\e801'; } /* '' */
.icon-floppy:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-globe:before { content: '\e804'; } /* '' */