/app/config/parameters.yml
/app/config/parameters.yml.*
/frontend/app/appConfig.js.production
/app/config/cert/*
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/composer.phar
.idea
/.build/tests/screenshots/*
!.build/tests/screenshots/.gitkeep

/web/assets/*
!/web/assets/.gitkeep

/web/dist/*

/frontend/node_modules
/frontend/app/appConfig.js

!/web/dist/.gitkeep
npm-debug.log
/.project
src/QueueBundle/Resources/config/parameters.ini
*~
!/src/CacheBundle/Feed/Formatter/Strategy/FeedFormatterStrategyInterface.php

docker/mysql/data/*
!docker/mysql/data/.gitkeep
.env
