{#
    Footer component.
#}
<footer class='footer'>
    <ul class="footer__list">
        <li class="footer__item"><a href="https://www.socialhose.io" class="footer__link">SOCIALHOSE.IO<span class="logo-trademark">&reg;</span></a></li>
        <li class="footer__item"><a href="https://www.socialhose.io/en/legal/privacy" class="footer__link">Privacy Policy</a></li>
        <li class="footer__item"><a href="https://www.socialhose.io/en/legal/acceptable-use" class="footer__link">Acceptable Use Policy</a></li>
        <li class="footer__item"><a href="https://www.socialhose.io/en/legal/terms" class="footer__link">Terms &amp; Conditions</a></li>
        <li class="footer__item"><a href="https://www.socialhose.io" class="footer__link">Copyright &copy; 2021 SOCIALHOSE.IO. All rights reserved.</a></li>
    </ul>
</footer>