.login-header {
  padding: 15px 30px;
  margin: 0 0 40px 0;
  height: 80px;
  line-height: 43px;
  background: #f2f2f2;
  .logo-img {
    display: inline-block;
    width: 174px;
    height: 49px;
    background: url(../images/logo/logo-small.png) no-repeat;
  }
}
